<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2>Пользователь не был создан:</h2>

      <ul>
        <% user.errors.each do |error| %>
        <% p error%>
          <li><%= error.full_message%></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, value: 'Имя пользователя',style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password, value: 'Пароль', style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :lbl, value: 'Подтвердите пароль', style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit 'Создать', id: 'submit-btn'%>
  </div>
<% end %>
