
<h1>Введите целое число n > 0</h1>
<%unless flash[:notice].blank?%>
  <h2 style = 'color:red'><%=flash[:notice]%></h2>

<%end%>
<%= form_with url: :output, method: :get do |form| %>
  <%= form.number_field :inpt, in:1..Float::INFINITY%>
  <%= form.submit "Отправить" %>
<% end %>
<%=link_to 'Выйти из учетной записи', session_logout_path%>
<%=link_to 'Просмотреть базу с пользователями', :users%>
