
<h2>Вы ввели</h2>
<p><%=@input%></p>

<%unless @result.nil?%>

<h2>Простые числа в диапазоне от <%="#{@input} до #{@input * 2}"%></h2>
<table>
    <tr>
      <td colspan = 2 >Соседние числа</td>
      <td>Разница <br/> между ними</td>
    </tr>
  <%(@prime_arr.length - 1).times do |i|%>
    <tr>
      <td><%=@prime_arr[i]%></td>
      <td><%=@prime_arr[i + 1]%></td>
      <%=content_tag(:td, "#{diff = @prime_arr[i + 1] - @prime_arr[i]}", :class => ( (diff) == 2 ? 'right' : 'wrong') )%>
    </tr>
    <%end%>

</table>

<h2>Результат</h2>
  <table>
  <tr>
    <td colspan = 2>Числа близнецы</td>
  </tr>
  <%@result.each do |i|%>
    <tr>
      <td><%=i[0]%></td>
      <td><%=i[1]%></td>
    </tr>
    <%end%>
</table>
<%else%><p>Для данного n нет близнецов в диапазоне от n до 2n</p>
<%end%>
<br/>
<%=link_to 'Вернуться','input'%>