<p style="color: green"><%= notice %></p>

<h1>Имена пользователей</h1>

<div id="users">
  <% @users.each do |user| %>
    <p><%= (user.username) %><p>
    <p>
      <%= link_to "Показать данные пользователя", user %>
    </p>
  <% end %>
</div>

<%= link_to "Новый пользователь", new_user_path %>
<%= link_to "Войти в существующего пользователя", session_logout_path%><br/>
<%=link_to 'Найти близнецов', root_path%>